@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Pretendard";
  src: url("../../public/fonts/PretendardVariable.woff2") format("woff2");
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --background: theme("colors.background");
    --foreground: theme("colors.foreground");
    --black-900: theme("colors.black.900");
    --black-800: theme("colors.black.800");
    --black-700: theme("colors.black.700");
    --black-600: theme("colors.black.600");
    --black-500: theme("colors.black.500");
    --black-400: theme("colors.black.400");
    --black-300: theme("colors.black.300");
    --black-200: theme("colors.black.200");
    --gray-900: theme("colors.gray.900");
    --gray-800: theme("colors.gray.800");
    --gray-700: theme("colors.gray.700");
    --gray-600: theme("colors.gray.600");
    --gray-500: theme("colors.gray.500");
    --gray-400: theme("colors.gray.400");
    --gray-100: theme("colors.gray.100");
    --primary: theme("colors.primary.DEFAULT");
    --primary-dark: theme("colors.primary.dark");
    --primary-light: theme("colors.primary.light");
    --kakao-yellow: theme("colors.kakao.yellow");
    --kakao-black: theme("colors.kakao.black");
  }
}

:root {
  --content-width: 750px;
  --header-height: 10rem;
}

* {
  outline: none;
}

html,
body {
  height: 100%;
  margin: 0 auto;
  max-width: var(--content-width);
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  font-size: clamp(12px, 2.1333vw, 16px);
}

body {
  max-width: 750px;
  margin: 0 auto;
  font-family: "Pretendard", sans-serif;
  font-size: 1rem; /* 1rem = 16px */
  line-height: 1.6;
  letter-spacing: -0.01em;
  -ms-overflow-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  word-break: keep-all;
}

img {
  display: block;
  -webkit-touch-callout: none;
  object-fit: cover;
  width: 100%;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}
