@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:is(.dark *));

:root {
  --content-width: 750px;
  --header-height: 6rem;
}

* {
  outline: none;
}

html,
body {
  height: 100%;
  margin: 0 auto;
  max-width: var(--content-width);
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
}

body {
  font-family: "Pretendard", sans-serif;
  font-size: 1rem; /* 1rem = 16px */
  line-height: 1.6;
  letter-spacing: -0.01em;
  -ms-overflow-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  word-break: keep-all;
}

img {
  display: block;
  -webkit-touch-callout: none;
  object-fit: cover;
  width: 100%;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}
